.emailFunctionBar{
    display: flex;
    flex:1;
    justify-content: flex-start;
    border-bottom: solid 1px gray;
}

.functionBar_Item{
    margin:3% 1%;

    &:hover{
        cursor: pointer;
    }
}

.functionBar_Item_Text{
    font-size: small;
}