.comment-container {
	background-color: #FEF8F0;
	margin: 15px 0px;
	padding: 10px 20px;
	border: 1px solid rgba(0,0,0,0.17);
	color: #33475B;
	position: relative;
}

.comment-container:hover 
.comment-actions {
  opacity: 1;
}

.comment-actions {
	position: absolute;
	top: -25px;
	right: 10px;
	opacity: 0;
	
}

.comment-card-action-button {
	border: none;
	color: white;
	background-color: #425B76;
	font-size: 12px;
	padding: 10px;
	outline: none;
}

.comment-container-header {
	display: flex;
  justify-content: space-between;
}

.comment-container-header__left {
	font-size: 24px;
	color: lightgrey;
	display: inline-flex;
	align-items: center;
}

.note__header-right {
	font-size: 12px;
	margin-top: 14px;
}

.comment-detail {
	color: #33475B;
	font-size: 14px;
	margin-left: 5px;
}