@import'../../../style/variable.scss';

.taskFollow{
    display:inline-flex;
    align-items: center !important;
    justify-content: flex-start !important;
    flex-wrap: wrap; 
    box-sizing: border-box;
    //border:solid 1px;

    &__text{
        font-size: small;
    }

    &__select{
        flex:1;
        padding-top:0.7%;
        padding-left:3%;
        font-weight: bold;

        &:hover{         
            transition: none;
        } 
    }


}