@import '../../../../../../../style/variable.scss';


.emailSendBar{
    margin:3%;
    display:flex;
    margin-top:0.1%;
    margin-bottom:0.1%;

    &__send{
        margin:auto 1.5%;
    }

    &__sendLater{
        margin:auto 1.5%;
    }
}