@import "../../../../../style/variable.scss";
.activity {
    display: flex;

    &__item {
        display: flex;
        flex-direction: column;
        margin: auto 2%;
    }

    &__name {
        text-align: center;
        font-size: 12px;
        padding: 5px 0px;
    }

    &__icon {
        width: 25px;
        position: relative;
        right: 2px;
    }

    &__button {
        border: solid 1px $primary-color;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        cursor: pointer;

        &：hover {
            cursor: pointer;
        }
    }
}
