.Modal{
   display: inline-block;
   position:absolute;
   visibility: hidden;
   width:45%;
   height:35%;
   top: 3%;
   left: 10%;
   background-color: transparent;
   border: solid 1px;
}

.MainComponents{
    visibility: hidden;  
    width:100%;
    
}

.Component--acitve{
    visibility: visible;
}




@media screen and (max-width: 1024px) {
	.Modal {
		width: 50%;
		min-width: 350px;
		margin-top: 50px;
	}

}