@import "../../../../../../../style/variable.scss";

.emailHeader{
    background-color: white;
    display:flex;
    flex:1;

    &__blank{
        flex:1;    
    }

    &__main{
        flex:35;
        justify-content: flex-start;
        display: inline-block;  
       
       
        &__item{
            display: flex;
            margin:3% auto;
           

            &__right{
                display: flex;
                flex-wrap: wrap;
            }      
        }
       
    }
}

.item-content{
    
    justify-content: flex-start;
    margin-left: 0.8rem;
    margin-bottom: 0.4rem;
    
}





.subject{
    
   
}




.header_item{
    flex:1;
    justify-content: flex-start;
    margin: 1% 1%;
}