.emailHeader{
    background-color: white;
    display:flex;
    flex:1;

    &__blank{
        flex:1;
       
       
       
    }

    &__main{
        flex:35;
        justify-content: flex-start;  
       
        &__item{
            margin:3% auto;
        }
        &__to{
            margin:2% auto;
        }
      
        

    }
}


.header_item{
    flex:1;
    justify-content: flex-start;
    margin: 1% 1%;
}