@import "../../../../../../../style/variable.scss";

.emailHeader{
    background-color: white;
    display:flex;
    flex:1;

    &__blank{
        flex:1;    
    }

    &__main{
        flex:35;
        justify-content: flex-start;
        display: inline-block;  
       
       
        &__item{
            display: flex;
            margin:3% auto;
            flex-direction: row;   
        }
       
    }
}

.item-content{
    justify-content: flex-start;
    margin:auto 5%;
   
    
}

.receiver{
    
    border: solid 1px rgba(0,0,0,0.5);
    padding: 0% 1% 1%;
    cursor: pointer;
    min-width:100px;
    
    
    &__name{
         font-size: x-small;  
         font-weight: 800;
         text-align: center;
         
         white-space: nowrap;
         color: $primary-color;
    }
}



.subject{
    
   
}




.header_item{
    flex:1;
    justify-content: flex-start;
    margin: 1% 1%;
}