@import '../../../../style/variable.scss';

.Header{
    display: flex;
    align-items: center;
    background-color: $Secondary-color;
    background-image: linear-gradient(-303deg,#00a4bd,#00afb2 56%,#00bda5);
    width: 100%; 
    cursor: grab;
    height:9%;
    // border:solid 1px;
      
    &__Left{
             display: flex;
             align-items: center;
             flex:4;
             height:100%;
            
           
            
             &__Icon{
                      padding-left: 0.3rem;                         
             }
             &__Name{
                      font-size: medium;
                      font-weight: 700;
                      color:white;
                      padding-left: 0.3rem; 
                      padding-bottom:0.2rem;                
                    }       
            } 

     &__Right{
        height:100%;
        display: flex;
        flex:1;
        align-items: center;
        justify-content: flex-end;

        &__Icon{   
            padding-right: 0.3rem;     
        }
     }         
}

.FunctionButton{
    border:0;
    outline: 0;
    background-color: transparent;
    border-radius: 50%;  
    &:hover{
        background-color: darken($Secondary-color,8%);
        cursor: pointer;
    }
}

.ArrowIcon{
    height: 18px;
    width:  18px;
}

.CloseIcon{
    height: 18px;
    width:  18px;
}