.timeline-container {
	max-width: 45%;
	margin: auto;
	padding: 20px;
	background-color: #F5F8FA;
}

.note-modal__header {
	background-color: #506F90;
	color: white;
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
}

.note-modal {
	max-width: 500px;
}