@import "../../../../../../../../style/variable.scss";



.title{
    height:100%;
    justify-content: flex-start;

    &__name{
        color: $primary-color;
        font-size: small;
        font-weight: 600;
    }
}